.heading{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 12px auto;
}

.skills{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: auto;
    grid-gap:5%;
    
    justify-content: center;
    
}

.skills div{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
   
}
.skills div:hover{
    box-shadow: 0px 0px 5px rgba(117,117,117);
    cursor: pointer;
}
.skills div div {
    width: 70%;
    display: flex;
    align-items: center;
    height: 100px;
   

}

.skills div img{
    width: 100%;
    width: 100px;
   
}
.skills div p {
   
    font-size: 20px;
    margin-bottom: 10px;

}

@media(max-width:768px){
    .heading{
        font-size: 12px;
        margin: 20px auto;
    }
    .skills{
        grid-template-columns: 30% 30%;
        justify-content: space-around;
    }
}