*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
   width: 100%;
    background: #2C3E50;
    display: flex;
   
}

.detail-container{
    width: 60%;
 
   height: 90vh;
    
}
.avatar{
    width: 40%;
    position: relavtive;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.avatar img{
    width: 70%;
    border: 5px solid #6d7a88;border-radius: 50%;
}



.avatar div{
    position: absolute;
    width: 50rem;
    top: 25%;
    right: 10%;
    opacity: 0.9;
    transition: 6s;
    background-image: url("./avatar.png");
}
.datail-section{
    width: 100%;
    height: 80vh;
    display: flex;
    font-size: 3.2rem;
    font-family: 'Akronim', cursive;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  
}

.img-holder img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 5px solid #6d7a88;
    margin: 30px auto;
    display: none;
}
.slider{
    height: 50px;
    font-size: 4rem;
    text-align: center;
    overflow: hidden;
    animation: slider 6s linear infinite;
}




@media (max-width:1080px){
    .avatar {
        display: none;
    }
    .detail-container{
        width: 100%;
        
        
    }
 .img-holder img{
     display: block;
     width: 200px;
     height: 200Px;
 }
    
}
.social-media-contact-link a{
    margin: 2rem;
    font-size: 10rem;

}

.linkedin:hover{
    color: rgb(13, 159, 195);
    border-radius: 5px;
}



@media (max-width:768px){
    .datail-section{
        font-size: 2.6rem;
    }
    .img-holder img{
        display: block;
        width: 150px;
        height: 150px;
    }
}

@media (max-width:520px){
    .datail-section{
        font-size: 2rem;
        text-align: center;
    }
}

.typing{
    font-size: 8rem;
}

.homebtn button{
    width: 150px;
    height: 40px;
    text-align: center;
    color: #fff;
    border: none;
    background: linear-gradient(to right,transparent 50%,#27AE60  50%);
    box-shadow: 0px 0px 10px rgba(117,117,117);
    background-size: 200%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background-position: left;
    transition: 0.3s;
}
.homebtn  button:hover{
    
    background-position: right;
    box-shadow: 0px 0px 10px rgb(253, 169, 13);
    color: #fa072f ;
    transition: 0.3s
    
 }